.alarm-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Svart bakgrund */
    overflow: hidden;
    position: relative;
}

.times-up-text {
    font-size: 2rem;
    color: white;
    position: relative;
    z-index: 1;
}

.alarm-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    position: relative; /* Viktigt för absolut positionering */
}

.alarm-view-container::before,
.alarm-view-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    background: radial-gradient(circle, rgba(102, 102, 102, 1) 20%, rgba(0, 0, 0, 1) 80%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: wave 3s infinite ease-in-out;
    z-index: 0;
}

.alarm-view-container::before {
    animation-delay: 0s;
}

.alarm-view-container::after {
    animation-delay: 1s; /* Startar 1 sekund efter ::before */
}


@keyframes wave {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(7);
        opacity: 0;
    }
}