/* App.css */

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(178, 178, 178);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-screen {
  width: 380px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative; /* Lägger till position: relative här för att kunna placera nav-icon */
  background-color: white; /* Eller annan färg du önskar */
}

.nav-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 32px;
  height: 32px;
  z-index: 1000;
}
